.bods{
  background-image: url('image/bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}


.pindot{
	 background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.pindot1{
	 background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 36px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20.8vw;
  cursor: pointer;


}
#header{
	background-color: rgb(102, 118, 129);
	background-size: 100%;
	width:90%;
	display: inline-block;
	margin: 0;
	height: 5vw;
	position: absolute;
	top: 10px;
	margin-bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}
#logo{
	width: 10vw;
	display: inline-block;
}

#logo a{
	text-decoration: none;
	color: black;
}
#logopic{
	width: 14vw;
	height: 5vw;
	left: 5vw;
}

#navigation ul li a.active{
	color: rgb(131, 131, 131);
}
#navigation{
	display: inline-block;
	margin-left: 1%;
}
#navigation ul{
	margin: 0;
}

#navigation ul a{
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
}
.link {
	color: black;
	display: inline-block;
	padding: 15px 3vw;
	
}
link:hover{
	background-color: Gray;
}
.smile{
  border: none;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
 color: white;		
  top: 5.5vw;
  font-size: 1.5vw;
  left: 10vw;
  position: absolute;
 
  }
 
.card-body{
	top: 10vw ;
}